.validationForm{
  margin-left: 10px
}

.validationFormControl{
margin-left: 10px
}

.btnValidation{
margin-left: 10px
}

.form-inline{
margin: 10px
}

.navbar-btn{
  margin-right: 0px;
}

.navbar{
  margin-top: 5px;
}

.adButton{
  margin-top: 10px;
}

.textWrapper{
  height: 50px;
  overflow: hidden;
}

ul{
  list-style-type: none;
}
